# Ignore heavy model files
english_chatbot/models/
hindi_chatbot/models/
hindi_chatbot/checkpoints/

# Ignore caches
**/__pycache__/
*.npy
*.pt
*.bin
*.safetensors
*.faiss
*.index


# Frontend
**/node_modules/
